{% extends 'base.html.twig' %}

{% block title %}Changer mon Mot de Passe{% endblock %}

{% block main_class %}py-4{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% include 'form/base_form.html.twig' with {
                'form_title': 'Changer mon Mot de Passe',
                'form_icon': 'key',
                'submit_button_text': 'Changer le mot de passe',
                'cancel_url': path('profil_show')
            } %}
        </div>
    </div>
</div>
{% endblock %}

{% block form_fields %}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ form_row(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ form_row(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
{% endblock %}
